{% extends "base.html" %}

{% block content %}
<ul>
{% for student in students %}
    {# Each "student" is a Student model object. #}

    <li><a href="{% url 'jSchool_student' student.id %}">{{ student.name }}</a></li>
{% endfor %}
</ul>
<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ students.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ students.number }} of {{ students.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ students.next_page_number }}">next</a>
            <a href="?page={{ students.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>




    <h2>All Classes</h2>
    <ul>
    {% for course in courses %}
    {# Each "course" is a course model object. #}
    <li><a href="{{ course.id }}">{{ course.name }}</a> | {{ course.callnumber}}</li>
{% endfor %}
{% endblock %}
